In [1]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
A = pd.read_csv(r'C:\Users\Vedika\Downloads\archive (10)\Iris.csv')

In [3]:
A.shape

(150, 6)

In [6]:
A["Species"] = A["Species"].map({"Iris-setosa": 0, "Iris-versicolor": 1, "Iris-virginica": 2})

In [7]:
A.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0   1            5.1           3.5            1.4           0.2        0
1   2            4.9           3.0            1.4           0.2        0
2   3            4.7           3.2            1.3           0.2        0
3   4            4.6           3.1            1.5           0.2        0
4   5            5.0           3.6            1.4           0.2        0

In [8]:
A.tail()

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
145  146            6.7           3.0            5.2           2.3        2
146  147            6.3           2.5            5.0           1.9        2
147  148            6.5           3.0            5.2           2.0        2
148  149            6.2           3.4            5.4           2.3        2
149  150            5.9           3.0            5.1           1.8        2

In [11]:
x = A[["SepalLengthCm","SepalWidthCm","PetalLengthCm","PetalWidthCm"]]
y= A[["Species"]]

In [12]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.20)

In [15]:
from sklearn.linear_model import LogisticRegression
reg = LogisticRegression()
model = reg.fit(x_train,y_train)
y_pred = model.predict(x_test)

C:\Users\Vedika\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

In [16]:
print(y_pred)

[0 1 2 1 2 0 2 1 0 0 1 0 2 1 2 0 0 0 0 2 2 0 2 0 1 0 2 2 2 2]

In [19]:
from sklearn.metrics import accuracy_score, classification_report , confusion_matrix
cm = confusion_matrix(y_test,y_pred)

In [22]:
print(cm)

[[12  0  0]
 [ 0  6  0]
 [ 0  0 12]]

In [23]:
cr = classification_report(y_test,y_pred)
print(cr)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        12
           1       1.00      1.00      1.00         6
           2       1.00      1.00      1.00        12

    accuracy                           1.00        30
   macro avg       1.00      1.00      1.00        30
weighted avg       1.00      1.00      1.00        30

In [24]:
acc = accuracy_score(y_test,y_pred)
print(acc)

1.0